main {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    .roller-container {
        display: none;
    }
    .cuenta-regresiva {
        font-family: $font-descripcion;
        font-size: 45px;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        #countdown1 {
            .row {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                .col-lg-2 {
                    padding: 0px;
                    .countdown-container {
                        width: 200px;
                        padding: 10px;
                        margin: 10px auto;
                        background-color: rgba(228, 89, 228, 0.2);
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        border-radius: 6px;
                        .number {
                            font-size: 40px;
                            text-align: center;
                            padding-top: 20px;
                            font-weight: 500;
                            color: purple;
                            background-color: transparent;
                            height: 75px;
                        }
                        .concept {
                            font-size: 30px;
                            text-align: center;
                            color: #000000;
                            font-family: $font-descripcion;
                        }
                    }
                }
            }
        }
    }
    //posicionamiento y estilo de la descripcion
    #description {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        padding-left: 5vw;
        width: 100vw;
        box-sizing: border-box;
        background-color: white;
        h1 {
            margin-top: 45px;
            line-height: 42px;
            font-size: 36px;
            font-family: $font-descripcion;
            font-weight: 300;
            color: $font-dark;
            letter-spacing: 0;
            width: 288px;
        }
        .descripcion {
            @extend h1;
            line-height: 20px;
            font-size: 18px;
            font-family: $font-primary;
            font-weight: 300;
            margin-top: 20px;
        }
        .social_media_icon_cont {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            width: 100%;
            padding-right: 5%;
            margin: 30px auto;
            box-sizing: border-box;
            z-index: 1000;
            p {
                font-size: 0.9em;
                font-family: $font-primary;
                line-height: 2em;
                margin-top: 30px;
                text-align: center;
            }
            .social-icon {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                a {
                    text-decoration: none;
                    margin: auto;
                    i {
                        font-size: 2em;
                        color: $font-dark;
                        margin: 0px;
                    }
                }
            }
        }
        #camisetaPremier {
            width: 90%;
            height: 550px;
            overflow: hidden;
            border-radius: 10px;
        }
        //posicionamiento y estilo del boton "inscribete"
        .btn-primary1 {
            width: 90vw;
            height: 48px;
            margin-top: 80px;
            margin-bottom: 40px;
            background-color: $bg-button;
            vertical-align: middle;
            border-radius: 5px;
            color: $font-dark;
            padding: 0;
            .text-btn-primary {
                text-align: center;
                margin: auto;
                letter-spacing: 0px;
                color: white;
                font-style: italic;
                font-family: $font-title;
                font-weight: 800;
                font-size: 22px;
                text-shadow: 2px 2px 2px hsl(0, 0%, 50%);
            }
        }
    }
    #orejas {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 2350px;
        right: 0px;
        z-index: -1;
    }
    // seccion de eventos
    .bg-seccion-eventos {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100vw;
        height: 1203.5px;
        background: linear-gradient( 45deg, #F0BB45 15%, 
                            #C6933F 35%, 
                            #AF5217 55%, 
                            #733554 100%); // background-image: linear-gradient(225deg, $bg-gradient-top 0%, $bg-gradient-bottom 100%);
        box-sizing: border-box;
        border: none;
        .titulo {
            font-family: $font-title;
            font-size: 36px;
            font-weight: 800;
            color: $font-light;
            margin-bottom: 4vw;
            margin-top: 4vw;
            margin-left: 5vw;
            box-sizing: border-box;
        }
        .seccion-eventos {
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 30% 70%;
            padding: 3px;
            border-radius: 2px;
            box-sizing: border-box;
            .video {
                align-content: stretch;
                border-radius: 5px;
                width: 90%;
                height: 200px;
                justify-self: center;
            }
            #event-container {
                padding: 10px 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $font-light;
                font-family: $font-title;
                font-size: 16px;
                line-height: 25px;
                text-shadow: 1px 1px gray;
                h2 {
                    color: $font-light;
                    font-family: $font-title;
                    font-size: 25px;
                    line-height: 25px;
                    font-weight: 800;
                    width: 100%;
                    padding: 3px 0px;
                    border-bottom: solid;
                    border-bottom-style: solid white;
                    border-bottom-width: 3px;
                }
                .evento {
                    padding: 10px 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    width: 100%;
                    box-sizing: border-box;
                    .fecha {
                        background-color: rgb(92, 86, 179);
                        border-radius: 3px;
                        width: 90px;
                        height: 100px;
                        font-size: 20px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 2px;
                        margin-right: 5px;
                        color: white;
                        font-family: Times, "Times New Roman", serif;
                        span {
                            font-size: 50px;
                            line-height: 50px;
                            width: 100%;
                            color: white;
                        }
                        .dia {
                            display: block;
                            font-size: 15px;
                            line-height: 17px;
                            text-align: center;
                            letter-spacing: 2px;
                            margin: 0 0px;
                            color: white;
                            font-family: Times;
                        }
                    }
                    .info p {
                        margin: 0;
                        color: rgb(18, 12, 91);
                        font-size: 20 px;
                    }
                    .info p:first-child {
                        font-weight: 800;
                    }
                }
            }
        }
    }
    //seccion de preguntas frecuentes
    .bg-seccion-faq {
        width: 100vw;
        .titulo {
            margin-top: 50px;
            margin-left: 5vw;
            margin-bottom: 20px;
            width: 288px;
            font-family: $font-title;
            font-size: 36px;
            font-weight: 600;
            color: $font-dark;
        }
        #accordionPanelsStayOpenExample {
            margin: 5px auto;
            width: 80%;
            .accordion-item {
                .accordion-header {
                    font-family: $font-title;
                    line-height: 1.4rem;
                    font-weight: 600;
                }
            }
        }
    }
    //sección coutdown
    // seccion nuestra musica
    // .bg-seccion-nosotros {
    //     position: relative;
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     height: auto;
    //     .donde_venimos {
    //         .titulo_seccion_dark1 {
    //             margin-top: 50px;
    //             margin-left: 5vw;
    //             margin-bottom: 20px;
    //             width: 288px;
    //             font-family: $font-title;
    //             font-size: 36px;
    //             font-weight: 600;
    //             color: $font-dark;
    //         }
    //         p {
    //             margin-left: 5vw;
    //             width: 288px;
    //             font-family: $font-primary;
    //             font-weight: 300;
    //             color: $font-dark;
    //             line-height: 24px;
    //             font-size: 18px;
    //         }
    //     }
    //     #podcast {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-around;
    //         box-sizing: border-box;
    //         align-items: center;
    //         .song {
    //             width: 93.13vw;
    //             height: 225px;
    //         }
    //     }
    //  ::after {
    //     content: "";
    //     position: fixed;
    //     z-index: -1;
    //     top: -25%;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     background-image: url(/imagenes/musicSection.JPG);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     opacity: 0.1;
    // }
}

#saltando {
    position: absolute;
    width: 350px;
    height: 550px;
    top: 4440px;
    right: 0px;
    z-index: -1;
    box-sizing: content-box;
}

// seccion de invitados estelares
.invitados {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 0;
    background-color: transparent;
    .titulo_seccion_dark2 {
        margin-left: 16px;
        margin-bottom: 4.3vw;
        width: 288px;
        font-family: $font-title;
        font-size: 36px;
        font-weight: 600;
        color: $font-dark;
        text-shadow: 1px 1px 1px white;
    }
    .galeria {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .card {
            box-shadow: 1px 5px 15px gray;
            height: auto;
            margin: 20px 0px;
            width: 90% !important;
            img {
                width: 85%;
                height: 76vw;
                margin: 10px auto;
                padding: 0;
                display: block;
                border-radius: 2pt;
            }
        }
    }
}

// seccion alguno de nuestros temas
.temas {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    background-color: white;
    .titulo_seccion_dark3 {
        width: 288px;
        font-family: $font-title;
        font-size: 36px;
        font-weight: 600;
        color: $font-dark;
        margin-left: 5vw;
    }
    .iconos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 170px auto);
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        justify-items: center;
        width: auto;
        margin-top: 10.625vw;
        padding: 0;
        img {
            width: 150px;
            height: 150px;
            margin: 13px 0;
        }
        p {
            font-family: $font-title;
            font-size: 24px;
            color: $font-dark;
            letter-spacing: 0;
            text-align: center;
            font-weight: bold;
            line-height: 32px;
            width: 288px;
            margin-bottom: 36px;
        }
    }
}

.ubicacion {
    padding: 50px 0 50px 0;
    background-color: white;
    h2 {
        width: 288px;
        font-family: $font-title;
        font-size: 36px;
        font-weight: 600;
        color: $font-dark;
        margin-left: 5vw;
        margin-bottom: 30px;
    }
    .mapa-container {
        margin-top: 30px;
        margin: 0 auto;
        width: 90vw;
        #mapa {
            width: 90vw;
            box-shadow: 0px 2px 10px 1px gray;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    .disclaimer p {
        font-size: 0.9em;
        font-family: $font-primary;
        line-height: 1em;
        margin: 0;
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
        &:first-child {
            margin-top: 40px;
            font-size: 1.2em;
        }
    }
}
