$bg-primary: #FFFFFF;
$bg-button:#00F3BB;
$bg-menu:#0000FF;
$bg-gradient-top:#871e21;
$bg-gradient-bottom: #e20524;
$font-dark:#060A24;
$font-light:#FFFFFF;
$font-dot:#8585e7;
$font-primary: 'Roboto Slab',
'IBM Plex Mono',
monospace;
$font-title: 'IBM Plex Sans',
sans-serif;
$font-descripcion:'Pacifico',
cursive;